doctype html
html(lang="en")
	head 
		meta(charset="utf-8")
		title #{title}
		include ./includes/head
	body
		include ./includes/header
		block content
		.col-sm-offset-2.col-sm-8 
		a(href="/"): input.input-primary(type="submit",value="返回首页") 
