<!DOCTYPE html>
<html lang="en">
  <head> 
    <meta charset="utf-8">
    <title></title>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/css/bootstap.min.js"></script><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> 
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="page-header">
          <h1></h1><span> </span>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <embed src="233.mp4" allowFullScreen="true" quality="high" width="720" heght="600" align="middle" type="application/x-shockwave-flash">
        </div>
        <div class="col-md-5">
          <dl class="dl-horizontal">
            <dt>片名</dt>
            <dd></dd>
            <dt>导演</dt>
            <dd></dd>
            <dt>国家</dt>
            <dd></dd>
            <dt>语言</dt>
            <dd></dd>
            <dt>上映年份</dt>
            <dd></dd>
            <dt>简介</dt>
            <dd></dd>
          </dl>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <embed src="" allowFullScreen="true" quality="high" width="720" heght="600" align="middle" type="application/x-shockwave-flash">
        </div>
        <div class="col-md-5">
          <dl class="dl-horizontal">
            <dt>片名</dt>
            <dd></dd>
            <dt>导演</dt>
            <dd></dd>
            <dt>国家</dt>
            <dd></dd>
            <dt>语言</dt>
            <dd></dd>
            <dt>上映年份</dt>
            <dd></dd>
            <dt>简介</dt>
            <dd></dd>
          </dl>
        </div>
      </div>
    </div>
    <h1></h1>
  </body>
</html>